
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: Roboto;
}

.fs-13 {
    font-size: 13px;
}

.fs-15 {
    font-size: 15px;
}

.bg--primary {
    background-color: $primary-color;
}

.border-bottom-primary {
    border-bottom: 1px solid #e4e4e4;
}

.border-right-primary {
    border-right: 1px solid #e4e4e4;
}

.border-top-primary {
    border-top: 1px solid #e4e4e4;
}

.border--primary {
    border: 1px solid #e4e4e4;
}

.color--light {
    color: $text-light;
    transition: .3s;
    &:hover {
        color: $primary-color;
    }
}

.color--light--no-hover {
    color: $text-light;
}

.color--white {
    color: $white-color;
    transition: .3s;
    &:hover {
        color: $primary-color;
    }
}

.color--white--no-hover {
    color: $white-color;
}

.color--primary {
    color: $primary-color;
}

.text--dark-hover {
    transition: .3s;
    &:hover {
        color: $primary-color!important;
    }
}

.color--primary-hover {
    color: $primary-color;
    transition: .3s;
    &:hover {
        color: $dark-color;
    }
}

.col-2-4 {
    flex: 0 0 auto;
    width: 20%;
}

.lh-1-8 {
    line-height: 1.8;
}

.bg--white--hover {
    transition: .3s;
    &:hover {
        background-color: $primary-color;
        color: $white-color;
    }
}

.rotate-90 {
    transform: rotate(90deg);
}

.label {
    font-size: 11px;
    padding: 4px 8px;
    color: $white-color;
    text-align: center;
    line-height: 1;
}

.label--new {
    background-color: $primary-color;
}

.label--discount {
    background-color: #263565;
}

.label--hot {
    background-color: #c7636a;
}

.btn--primary {
    background-color: $white-color;
    transition: .3s;
    font-weight: 500;
    font-size: 15px;

    &:hover {
        background-color: $dark-color;
        color: $white-color;
    }
}

.btn--dark {
    background-color: $dark-color;
    &:hover {
        background-color: $primary-color;
    }
}

.btn--light {
    background-color: $primary-color;
    &:hover {
        background-color: $dark-color;
    }
}

.font--primary {
    font-family: "Playfair Display", Sans-serif;
}

.logo {
    img {
        width: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.hover--primary:hover {
    transition: .3s;
    color: $primary-color!important;
}

.quantify {
    background-color: $primary-color;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    font-size: 0.8rem;
    top: 8px;
    right: 5px;
}

.banner {
    background: url('/img/banner.jpg') no-repeat center;
    width: 100%;
    height: 752px;
}

.content {
    max-width: 670px;  
    .content__now {
        font-size: 18px;
    }
    
    .content__desc {
        font-size: 80px;
    }
}

.mentor--items {
    height: 420px;

    img {
        object-fit: cover;
        object-position: center;
        transition: .5s;
    }

    &:hover img {
        transform: scale(1.1);
    }
}

.product {
    
    button {
        width: 85%;
        font-weight: 500;
        transform: translate(-50%, 150px);
        transition: .4s;
        opacity: 0;
        visibility: hidden;
    }

    .product--name {
        font-size: 12px;
        color: $primary-color;
    }

    .product-action {
        li {
            width: 45px;
            height: 45px;
            transform: translateX(15px);
            transition: .4s;
            opacity: 0;
            visibility: hidden;
        }

        .nth-2 {
            transition-delay: 0.1s;
        }

        .nth-3 {
            transition-delay: 0.2s;
        }
    }

    .product--desc{
        transition: .3s;
        color: $dark-color;
        text-decoration: none;
        display: block;
        margin-bottom: 8px;
        &:hover {
            color: $primary-color;
        }
    }

    &:hover {
        button{
            transform: translate(-50%, 0);
            opacity: 1;
            visibility: visible;
        }

        .product-action li {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
    }
}

.populated--title {
    font-size: 45px;
}

.populated--banner {
    background: url('/img/banner-2.jpg') no-repeat center;
    height: 600px;
}

.instagram--img {
    div {
        opacity: 0;
        transition: .4s;
        transform: scale(0);
    }

    &:hover div{
        opacity: 0.6;
        transform: scale(1);
    }
}

.footer {
    background-color: #f5f3f2;
}

.email--sub {
    input {
        border: none;
        outline: none;
        width: 95%;
        background-color: transparent;
        padding-bottom: 8px;
        border-bottom: 2px solid $dark-color;
        transition: .3s;
        &:focus {
            border-color: $primary-color;
        }
    }
}

.footer__element--items {
    button[type ="submit"] {
        padding-bottom: 4px;
        border: none;
        border-bottom: 2px solid $dark-color;
        background-color: transparent;
        transition: .3s;
        &:hover {
            color: $primary-color;
            border-color: $primary-color;
        }
    }
}

.social {
    a {
        width: 40px;
        height: 40px;
        border: 1px solid #dddddd;
    }
}

.form-lg {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

#modalAccount.modal.fade .modal-dialog,
#modalCart.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(100%, 0px);
}

#modalAccount.modal.show .modal-dialog,
#modalCart.modal.show .modal-dialog {
    transform: translate(0%, 0px);
}

.product__items {
    
    .product__items--img {
        width: 60px;
        height: 60px;
    }

    .product__items--content {
        p {
            color: $text-light;
        }
    }

    .product__items--name {
        transition: .3s;
        color: $black-color;
        &:hover {
            color: $primary-color!important;
        }
    }

    .clear--product {
        transition: .3s;
        transform: translate(150%, -50%);
    }

    &:hover .clear--product{
        transform: translate(0%, -50%);
    }
}

#scroll-custom::-webkit-scrollbar
{
	background-color: transparent;
}

.form-type-number {

    input {
        outline: none;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
    }
}

.input--group {

    span[contenteditable="true"], input, textarea {
        color: $text-light;
        font-size: 14px;
        padding: 12px 24px;
        outline-color: $primary-color;
        border: 1px solid #e4e4e4;
    }

    textarea {
        height: 133px;
        resize: none;
    }

    span[contenteditable="true"] {
        min-height: 100px;
    }
}

.your_star_rating {
    .hidden {
        display: none;
    }
    
    #rating--5.rating__container.active-hover,
    #rating--5:hover {
        i:nth-child(1) {
            display: none;
        }
        i:nth-child(2) {
            display: block;
        }
    }

    #rating--4.rating__container.active-hover,
    #rating--4:hover {
        + #rating--5 {
            i:nth-child(1) {
                display: none;
            }
            i:nth-child(2) {
                display: block;
            }
        }
        i:nth-child(1) {
            display: none;
        }
        i:nth-child(2) {
            display: block;
        }
    }

    #rating--3.rating__container.active-hover,
    #rating--3:hover {
        i:nth-child(1) {
            display: none;
        }
        i:nth-child(2) {
            display: block;
        }
        + #rating--4 {
            + #rating--5 {
                i:nth-child(1) {
                    display: none;
                }
                i:nth-child(2) {
                    display: block;
                }
            }
            i:nth-child(1) {
                display: none;
            }
            i:nth-child(2) {
                display: block;
            }
        }
    }
    
    #rating--2.rating__container.active-hover,
    #rating--2:hover {
        i:nth-child(1) {
            display: none;
        }
        i:nth-child(2) {
            display: block;
        }
        + #rating--3 {
            i:nth-child(1) {
                display: none;
            }
            i:nth-child(2) {
                display: block;
            }
            + #rating--4 {
                + #rating--5 {
                    i:nth-child(1) {
                        display: none;
                    }
                    i:nth-child(2) {
                        display: block;
                    }
                }
                i:nth-child(1) {
                    display: none;
                }
                i:nth-child(2) {
                    display: block;
                }
            }
        }
    }

    #rating--1.rating__container.active-hover,
    #rating--1:hover {
            i:nth-child(1) {
                display: none;
            }
            i:nth-child(2) {
                display: block;
            }
            + #rating--2 {
                i:nth-child(1) {
                    display: none;
                }
                i:nth-child(2) {
                    display: block;
                }
                + #rating--3 {
                    i:nth-child(1) {
                        display: none;
                    }
                    i:nth-child(2) {
                        display: block;
                    }
                    + #rating--4 {
                        + #rating--5 {
                            i:nth-child(1) {
                                display: none;
                            }
                            i:nth-child(2) {
                                display: block;
                            }
                        }
                        i:nth-child(1) {
                            display: none;
                        }
                        i:nth-child(2) {
                            display: block;
                        }
                    }
                }
            }
    }
}

.tab__items--container {
    display: none;
}

.tab__items--container.active {
    display: block;
}

.tab__panes.active {
    color: $dark-color;
}

.page-header {
    padding: 75px 0;
    background: url('/img/pageHeader.jpg') no-repeat;
}

.page-header.shop {
    background: url('/img/banner-shop.jpg') no-repeat;
}

.pagination {
    .active {
        background-color: $primary-color;
        color: $white-color;
    }
}

select {
    -webkit-appearance:none;
    appearance: none;
}


.recent-posts__items {
    .recent-posts__items--img {
        img {
            transition: .3s;
            transform: scale(1);
        }
    }
    &:hover {
        .recent-posts__items--img {
            img {
                transform: scale(1.2);
            }
        }
    }
}

.posts {
    .posts--img {
        img {
            transition: .3s;
            transform: scale(1);
        }
        &:hover {
            img {
                transform: scale(1.2);
            }
        }
    }
    .posts--content {
        .wp-block-image {
            display: flex;
            justify-content: center;
        }

        figcaption {
            display: block!important;
            text-align: center;
        }
    }
}

.wishlist__list {
    .wishlist__items {
        transition: .3s;
        &:hover {
            background-color: #f2f2f2;
        }
    }

    .wishlist__items + .wishlist__items {
        border-top: 1px solid #e4e4e4;
    }
}

.loading__container {
    background-color: rgba($color: #000000, $alpha: 0.6);
    i {
        animation: spin 0.7s linear infinite;
    }
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

input[name="delivery"]:checked + label{
    color: $dark-color;
}

input[name="pay"]:checked + label {
    color: $dark-color;
}

input[name="pay"]:checked ~ span {
    display: block!important;
}

#coupon {
    height: 0;
    overflow: hidden;
    transition: .3s;
}

label.error.fail-alert {
    color: #c7636a;
    font-size: 14px;
}

.order__container {
    width: 770px;
}

#wishlist-table {
    td {
        vertical-align: middle;
    }
}