
@import 'variables';

.logo {
    img {
        width: 140px;
    }
}

.hover--primary:hover {
    transition: .3s;
    color: $primary-color!important;
}

.quantify {
    background-color: $primary-color;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    font-size: 0.8rem;
    top: 8px;
    right: 5px;
}