@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

body {
  font-family: Roboto; }

.fs-13 {
  font-size: 13px; }

.bg--primary {
  background-color: #b99e83; }

.border-bottom-primary {
  border-bottom: 1px solid #e4e4e4; }

.border-right-primary {
  border-right: 1px solid #e4e4e4; }

.border-top-primary {
  border-top: 1px solid #e4e4e4; }

.border--primary {
  border: 1px solid #e4e4e4; }

.color--light {
  color: #767676;
  transition: .3s; }
  .color--light:hover {
    color: #b99e83; }

.color--light--no-hover {
  color: #767676; }

.color--white {
  color: white;
  transition: .3s; }
  .color--white:hover {
    color: #b99e83; }

.color--white--no-hover {
  color: white; }

.color--primary {
  color: #b99e83; }

.text--dark-hover {
  transition: .3s; }
  .text--dark-hover:hover {
    color: #b99e83 !important; }

.color--primary-hover {
  color: #b99e83;
  transition: .3s; }
  .color--primary-hover:hover {
    color: #212529; }

.col-2-4 {
  flex: 0 0 auto;
  width: 20%; }

.lh-1-8 {
  line-height: 1.8; }

.bg--white--hover {
  transition: .3s; }
  .bg--white--hover:hover {
    background-color: #b99e83;
    color: white; }

.rotate-90 {
  transform: rotate(90deg); }

.label {
  font-size: 11px;
  padding: 4px 8px;
  color: white;
  text-align: center;
  line-height: 1; }

.label--new {
  background-color: #b99e83; }

.label--discount {
  background-color: #263565; }

.label--hot {
  background-color: #c7636a; }

.btn--primary {
  background-color: white;
  transition: .3s;
  font-weight: 500;
  font-size: 15px; }
  .btn--primary:hover {
    background-color: #212529;
    color: white; }

.btn--dark {
  background-color: #212529; }
  .btn--dark:hover {
    background-color: #b99e83; }

.btn--light {
  background-color: #b99e83; }
  .btn--light:hover {
    background-color: #212529; }

.font--primary {
  font-family: "Playfair Display", Sans-serif; }

.logo img {
  width: 100%;
  object-fit: contain;
  object-position: center; }

.hover--primary:hover {
  transition: .3s;
  color: #b99e83 !important; }

.quantify {
  background-color: #b99e83;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  font-size: 0.8rem;
  top: 8px;
  right: 5px; }

.banner {
  background: url("/img/banner.jpg") no-repeat center;
  width: 100%;
  height: 752px; }

.content {
  max-width: 670px; }
  .content .content__now {
    font-size: 18px; }
  .content .content__desc {
    font-size: 80px; }

.mentor--items {
  height: 420px; }
  .mentor--items img {
    object-fit: cover;
    object-position: center;
    transition: .5s; }
  .mentor--items:hover img {
    transform: scale(1.1); }

.product button {
  width: 85%;
  font-weight: 500;
  transform: translate(-50%, 150px);
  transition: .4s;
  opacity: 0;
  visibility: hidden; }

.product .product--name {
  font-size: 12px;
  color: #b99e83; }

.product .product-action li {
  width: 45px;
  height: 45px;
  transform: translateX(15px);
  transition: .4s;
  opacity: 0;
  visibility: hidden; }

.product .product-action .nth-2 {
  transition-delay: 0.1s; }

.product .product-action .nth-3 {
  transition-delay: 0.2s; }

.product .product--desc {
  transition: .3s;
  color: #212529;
  text-decoration: none;
  display: block;
  margin-bottom: 8px; }
  .product .product--desc:hover {
    color: #b99e83; }

.product:hover button {
  transform: translate(-50%, 0);
  opacity: 1;
  visibility: visible; }

.product:hover .product-action li {
  transform: translateX(0);
  opacity: 1;
  visibility: visible; }

.populated--title {
  font-size: 45px; }

.populated--banner {
  background: url("/img/banner-2.jpg") no-repeat center;
  height: 600px; }

.instagram--img div {
  opacity: 0;
  transition: .4s;
  transform: scale(0); }

.instagram--img:hover div {
  opacity: 0.6;
  transform: scale(1); }

.footer {
  background-color: #f5f3f2; }

.email--sub input {
  border: none;
  outline: none;
  width: 95%;
  background-color: transparent;
  padding-bottom: 8px;
  border-bottom: 2px solid #212529;
  transition: .3s; }
  .email--sub input:focus {
    border-color: #b99e83; }

.footer__element--items button[type="submit"] {
  padding-bottom: 4px;
  border: none;
  border-bottom: 2px solid #212529;
  background-color: transparent;
  transition: .3s; }
  .footer__element--items button[type="submit"]:hover {
    color: #b99e83;
    border-color: #b99e83; }

.social a {
  width: 40px;
  height: 40px;
  border: 1px solid #dddddd; }

.form-lg {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4; }

.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translate(100%, 0px); }

.modal.show .modal-dialog {
  transform: translate(0%, 0px); }

.product__items .product__items--img {
  width: 60px;
  height: 60px; }

.product__items .product__items--content p {
  color: #767676; }

.product__items .product__items--name {
  transition: .3s;
  color: #000000; }
  .product__items .product__items--name:hover {
    color: #b99e83 !important; }

.product__items .clear--product {
  transition: .3s;
  transform: translate(150%, -50%); }

.product__items:hover .clear--product {
  transform: translate(0%, -50%); }

#scroll-custom::-webkit-scrollbar {
  background-color: transparent; }

.form-type-number input {
  outline: none; }

.form-type-number input[type=number]::-webkit-inner-spin-button,
.form-type-number input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

.input--group span[contenteditable="true"], .input--group input, .input--group textarea {
  color: #767676;
  font-size: 14px;
  padding: 12px 24px;
  outline-color: #b99e83;
  border: 1px solid #e4e4e4; }

.input--group textarea {
  height: 133px;
  resize: none; }

.input--group span[contenteditable="true"] {
  min-height: 100px; }

.your_star_rating .hidden {
  display: none; }

.your_star_rating #rating--5.rating__container.active-hover i:nth-child(1),
.your_star_rating #rating--5:hover i:nth-child(1) {
  display: none; }

.your_star_rating #rating--5.rating__container.active-hover i:nth-child(2),
.your_star_rating #rating--5:hover i:nth-child(2) {
  display: block; }

.your_star_rating #rating--4.rating__container.active-hover + #rating--5 i:nth-child(1),
.your_star_rating #rating--4:hover + #rating--5 i:nth-child(1) {
  display: none; }

.your_star_rating #rating--4.rating__container.active-hover + #rating--5 i:nth-child(2),
.your_star_rating #rating--4:hover + #rating--5 i:nth-child(2) {
  display: block; }

.your_star_rating #rating--4.rating__container.active-hover i:nth-child(1),
.your_star_rating #rating--4:hover i:nth-child(1) {
  display: none; }

.your_star_rating #rating--4.rating__container.active-hover i:nth-child(2),
.your_star_rating #rating--4:hover i:nth-child(2) {
  display: block; }

.your_star_rating #rating--3.rating__container.active-hover i:nth-child(1),
.your_star_rating #rating--3:hover i:nth-child(1) {
  display: none; }

.your_star_rating #rating--3.rating__container.active-hover i:nth-child(2),
.your_star_rating #rating--3:hover i:nth-child(2) {
  display: block; }

.your_star_rating #rating--3.rating__container.active-hover + #rating--4 + #rating--5 i:nth-child(1),
.your_star_rating #rating--3:hover + #rating--4 + #rating--5 i:nth-child(1) {
  display: none; }

.your_star_rating #rating--3.rating__container.active-hover + #rating--4 + #rating--5 i:nth-child(2),
.your_star_rating #rating--3:hover + #rating--4 + #rating--5 i:nth-child(2) {
  display: block; }

.your_star_rating #rating--3.rating__container.active-hover + #rating--4 i:nth-child(1),
.your_star_rating #rating--3:hover + #rating--4 i:nth-child(1) {
  display: none; }

.your_star_rating #rating--3.rating__container.active-hover + #rating--4 i:nth-child(2),
.your_star_rating #rating--3:hover + #rating--4 i:nth-child(2) {
  display: block; }

.your_star_rating #rating--2.rating__container.active-hover i:nth-child(1),
.your_star_rating #rating--2:hover i:nth-child(1) {
  display: none; }

.your_star_rating #rating--2.rating__container.active-hover i:nth-child(2),
.your_star_rating #rating--2:hover i:nth-child(2) {
  display: block; }

.your_star_rating #rating--2.rating__container.active-hover + #rating--3 i:nth-child(1),
.your_star_rating #rating--2:hover + #rating--3 i:nth-child(1) {
  display: none; }

.your_star_rating #rating--2.rating__container.active-hover + #rating--3 i:nth-child(2),
.your_star_rating #rating--2:hover + #rating--3 i:nth-child(2) {
  display: block; }

.your_star_rating #rating--2.rating__container.active-hover + #rating--3 + #rating--4 + #rating--5 i:nth-child(1),
.your_star_rating #rating--2:hover + #rating--3 + #rating--4 + #rating--5 i:nth-child(1) {
  display: none; }

.your_star_rating #rating--2.rating__container.active-hover + #rating--3 + #rating--4 + #rating--5 i:nth-child(2),
.your_star_rating #rating--2:hover + #rating--3 + #rating--4 + #rating--5 i:nth-child(2) {
  display: block; }

.your_star_rating #rating--2.rating__container.active-hover + #rating--3 + #rating--4 i:nth-child(1),
.your_star_rating #rating--2:hover + #rating--3 + #rating--4 i:nth-child(1) {
  display: none; }

.your_star_rating #rating--2.rating__container.active-hover + #rating--3 + #rating--4 i:nth-child(2),
.your_star_rating #rating--2:hover + #rating--3 + #rating--4 i:nth-child(2) {
  display: block; }

.your_star_rating #rating--1.rating__container.active-hover i:nth-child(1),
.your_star_rating #rating--1:hover i:nth-child(1) {
  display: none; }

.your_star_rating #rating--1.rating__container.active-hover i:nth-child(2),
.your_star_rating #rating--1:hover i:nth-child(2) {
  display: block; }

.your_star_rating #rating--1.rating__container.active-hover + #rating--2 i:nth-child(1),
.your_star_rating #rating--1:hover + #rating--2 i:nth-child(1) {
  display: none; }

.your_star_rating #rating--1.rating__container.active-hover + #rating--2 i:nth-child(2),
.your_star_rating #rating--1:hover + #rating--2 i:nth-child(2) {
  display: block; }

.your_star_rating #rating--1.rating__container.active-hover + #rating--2 + #rating--3 i:nth-child(1),
.your_star_rating #rating--1:hover + #rating--2 + #rating--3 i:nth-child(1) {
  display: none; }

.your_star_rating #rating--1.rating__container.active-hover + #rating--2 + #rating--3 i:nth-child(2),
.your_star_rating #rating--1:hover + #rating--2 + #rating--3 i:nth-child(2) {
  display: block; }

.your_star_rating #rating--1.rating__container.active-hover + #rating--2 + #rating--3 + #rating--4 + #rating--5 i:nth-child(1),
.your_star_rating #rating--1:hover + #rating--2 + #rating--3 + #rating--4 + #rating--5 i:nth-child(1) {
  display: none; }

.your_star_rating #rating--1.rating__container.active-hover + #rating--2 + #rating--3 + #rating--4 + #rating--5 i:nth-child(2),
.your_star_rating #rating--1:hover + #rating--2 + #rating--3 + #rating--4 + #rating--5 i:nth-child(2) {
  display: block; }

.your_star_rating #rating--1.rating__container.active-hover + #rating--2 + #rating--3 + #rating--4 i:nth-child(1),
.your_star_rating #rating--1:hover + #rating--2 + #rating--3 + #rating--4 i:nth-child(1) {
  display: none; }

.your_star_rating #rating--1.rating__container.active-hover + #rating--2 + #rating--3 + #rating--4 i:nth-child(2),
.your_star_rating #rating--1:hover + #rating--2 + #rating--3 + #rating--4 i:nth-child(2) {
  display: block; }

.tab__items--container {
  display: none; }

.tab__items--container.active {
  display: block; }

.tab__panes.active {
  color: #212529; }

.page-header {
  padding: 75px 0;
  background: url("/img/pageHeader.jpg") no-repeat; }

.page-header.shop {
  background: url("/img/banner-shop.jpg") no-repeat; }

.pagination .active {
  background-color: #b99e83;
  color: white; }

select {
  -webkit-appearance: none;
  appearance: none; }

.recent-posts__items .recent-posts__items--img img {
  transition: .3s;
  transform: scale(1); }

.recent-posts__items:hover .recent-posts__items--img img {
  transform: scale(1.2); }

.posts .posts--img img {
  transition: .3s;
  transform: scale(1); }

.posts .posts--img:hover img {
  transform: scale(1.2); }

.posts .posts--content .wp-block-image {
  display: flex;
  justify-content: center; }

.posts .posts--content figcaption {
  display: block !important;
  text-align: center; }

.wishlist__list .wishlist__items {
  transition: .3s; }
  .wishlist__list .wishlist__items:hover {
    background-color: #f2f2f2; }

.wishlist__list .wishlist__items + .wishlist__items {
  border-top: 1px solid #e4e4e4; }

.loading__container {
  background-color: rgba(0, 0, 0, 0.6); }
  .loading__container i {
    animation: spin 0.7s linear infinite; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }
