<div class="container-xl pt-5 pb-5">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <ul class="footer__element--list mb-4 p-0 m-0 p-0">
                <li class="footer__element--items pb-4">
                    <a href="">
                        <img src="/img/logo.png" alt="">
                    </a>
                </li>
                <li class="footer__element--items pb-2">
                    <p class="m-0" href="">
                        +80 123 567 89
                    </p>
                </li>
                <li class="footer__element--items pb-2">
                    <p class="m-0" href="">
                        283 N. Glenwood Street, Levittown, NY
                    </p>
                </li>
                <li class="footer__element--items pb-4">
                    <a href="mailto:help.lenos@gmail.com" class=" color--primary">
                        help.lenos@gmail.com
                    </a>
                </li>
                <div class="d-flex social">
                    <div class="me-3">
                        <a class="rounded-circle d-flex justify-content-center align-items-center text-decoration-none text-dark" href="">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class="me-3">
                        <a class=" rounded-circle d-flex justify-content-center align-items-center text-decoration-none text-dark" href="">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </div>
                    <div class="me-3">
                        <a class=" rounded-circle d-flex justify-content-center align-items-center text-decoration-none text-dark" href="">
                            <i class="fa-brands fa-pinterest-p"></i>
                        </a>
                    </div>
                    <div class="me-3">
                        <a class=" rounded-circle d-flex justify-content-center align-items-center text-decoration-none text-dark" href="">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </ul>   
        </div>
        <div class="col-lg-2 col-md-3">
            <ul class="footer__element--list mb-4 p-0 m-0">
                <li class="footer__element--items pb-4">
                    <p class=" text-uppercase m-0" class="m-0" href="">
                        help
                    </p>
                </li>
                <li class="footer__element--items pb-3 ">
                    <a href="#" class=" color--light text-decoration-none">
                        Cart
                    </a>
                </li>
                <li class="footer__element--items pb-3 ">
                    <a href="#" class=" color--light text-decoration-none">
                        Reviews
                    </a>
                </li>
                <li class="footer__element--items pb-3 ">
                    <a href="#" class=" color--light text-decoration-none">
                        About Us
                    </a>
                </li>
                <li class="footer__element--items pb-3 ">
                    <a href="#" class=" color--light text-decoration-none">
                        Contact Us
                    </a>
                </li>
                <li class="footer__element--items">
                    <a href="#" class=" color--light text-decoration-none">
                        My Account
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-3">
            <ul class="footer__element--list mb-4 p-0 m-0">
                <li class="footer__element--items pb-4">
                    <p class=" text-uppercase m-0" class="m-0" href="">
                        services
                    </p>
                </li>
                <li class="footer__element--items pb-3 ">
                    <a href="#" class=" color--light text-decoration-none">
                        Shop
                    </a>
                </li>
                <li class="footer__element--items pb-3 ">
                    <a href="#" class=" color--light text-decoration-none">
                        New Designs 1
                    </a>
                </li>
                <li class="footer__element--items pb-3 ">
                    <a href="#" class=" color--light text-decoration-none">
                        New Designs 2
                    </a>
                </li>
                <li class="footer__element--items pb-3 ">
                    <a href="#" class=" color--light text-decoration-none">
                        New Designs 3
                    </a>
                </li>
                <li class="footer__element--items">
                    <a href="#" class=" color--light text-decoration-none">
                        Product Single
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-12">
            <ul class="footer__element--list mb-4 p-0 m-0">
                <li class="footer__element--items pb-4">
                    <p class=" m-0 disabled">
                        <i style="font-size: 50px" class="fa-regular fa-envelope"></i>
                    </p>
                </li>
                <li class="footer__element--items pb-2 ">
                    <p class="m-0 text-uppercase">SUBSCRIBE OUR NEWSLETTER</p>
                </li>
                <li class="footer__element--items pb-4 ">
                    <p class="m-0">Plus, hear about the latest and greatest from our family of brands</p>
                </li>
                <li class="footer__element--items pb-3 ">
                    <form action="" class="row">
                        <div class="col-9">
                            <div class="email--sub">
                                <input class="outline-none" type="email" name="" id="" placeholder="Email address">
                            </div>
                        </div>
                        <div class="col-3">
                            <button type="submit" class=" text-uppercase h-100">subscribe</button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="copyright border-top pt-4 pb-4">
    <div class="container">
        <div class="d-flex justify-content-between">
            <span>Copyright © <span class="color--primary">2023</span>. All Rights Reserved</span>
            <div class="delivery--img">
                <img src="/img/delivery.png" alt="">
            </div>
        </div>
    </div>
</div>