<div class=" container-xl d-flex align-items-center justify-content-between">
    <div class="logo">
        <a href="/">
            <img src="/img/logo.png" alt="">
        </a>
    </div>
    <div class="header__nav">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link hover--primary text-uppercase text-dark" href="/" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hover--primary text-uppercase text-dark" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hover--primary text-uppercase text-dark" href="/shop">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hover--primary text-uppercase text-dark" href="/blogs">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hover--primary text-uppercase text-dark" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
    <div class="header__nav--account">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                {{#if session.user}}
                    <a class="nav-link hover--primary fs-5 text-dark" href="/my-account">
                        <i class="fa-regular fa-user"></i>
                    </a>
                {{else}}
                    <a class="nav-link hover--primary fs-5 text-dark" href="/my-account" aria-current="page" data-bs-target="#modalAccount" data-bs-toggle="modal">
                        <i class="fa-regular fa-user"></i>
                    </a>
                {{/if}}
            </li>
            <li class="nav-item position-relative">
                <a class="nav-link hover--primary fs-5 text-dark" href="/wishlist">
                    <i class="fa-regular fa-heart"></i>
                </a>
                <span class="quantify position-absolute d-flex justify-content-center align-items-center text-white" id="wishlistQuantify">{{lengthArr session.wishlist}}</span>
            </li>
            <li class="nav-item position-relative">
                <a id="isPathCart" class="nav-link hover--primary fs-5 text-dark" data-bs-target="#modalCart" data-bs-toggle="modal" href="#">
                    <i class="fa-solid fa-bag-shopping"></i>
                </a>
                <span class="quantify position-absolute d-flex justify-content-center align-items-center text-white" id="cartQuantity">{{cartQuantity}}</span>
            </li>
        </ul>
    </div>
</div>
<script>
    if($(location).attr('pathname') === "/cart") {
        $('#isPathCart').removeAttr("data-bs-target"); //setter
        $('#isPathCart').removeAttr("data-bs-toggle"); //setter
    }
</script>