<div class=" container-xl d-flex align-items-center justify-content-between">
    <div class="logo">
        <a href="/">
            <img src="img/logo.png" alt="">
        </a>
    </div>
    <div class="header__nav">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link hover--primary text-uppercase text-dark" href="/" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hover--primary text-uppercase text-dark" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hover--primary text-uppercase text-dark" href="/shop">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hover--primary text-uppercase text-dark" href="/blogs">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hover--primary text-uppercase text-dark" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
    <div class="header__nav--account">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link hover--primary fs-5 text-dark" href="#" aria-current="page">
                    <i class="fa-regular fa-user"></i>
                </a>
            </li>
            <li class="nav-item position-relative">
                <a class="nav-link hover--primary fs-5 text-dark" href="#">
                    <i class="fa-regular fa-heart"></i>
                </a>
                <span class="quantify position-absolute d-flex justify-content-center align-items-center text-white">0</span>
            </li>
            <li class="nav-item position-relative">
                <a class="nav-link hover--primary fs-5 text-dark" href="#">
                    <i class="fa-solid fa-bag-shopping"></i>
                </a>
                <span class="quantify position-absolute d-flex justify-content-center align-items-center text-white">0</span>
            </li>
        </ul>
    </div>
</div>
