<div class="d-block text-center page-header">
    <h1 style="font-size: 55px;" class="font--primary text-white">About Us</h1>
    <div class="router--detail color--white--no-hover pb-4 text-center pt-4">
        <a href="/" class="color--white text-decoration-none">Home </a>/
        <span class="text-capitalize">About Us</span>
    </div>
</div>
<section class="populated pt-5 mb-5">
    <div class=" container-xl">
        <div class="populated__content">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-7">
                    <div class="populated__img mb-5">
                        <img class="w-100 h-100" src="img/lenos.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="populated__items--desc align-self-center">
                        <h1 class="font--primary populated--title">Spring Winter 2022</h1>
                        <p class="mt-4 pb-3 lh-1-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                        <a  href="/shop" style="width: max-content" class="d-block text-decoration-none btn--dark text-white text-uppercase border-0 pt-3 pb-3 ps-5 pe-5 mt-5">shop the look</a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>
<div class="d-block pt-5 pb-5">
    <div style="background-color: #F5F3F2;" class="bg--footer pt-5 pb-5">
        <div style="" class="m-auto text-center pt-5">
            <p class="font--primary fs-4">“ We are commutity led, with a continued commitment to be the most responsible <br> version of ourselves – and we never rest on our laurels. ”</p>
        </div>
        <div class="m-auto pt-5 pb-5 mb-2">
            <div class="row align-items-lg-center">
                <div class="col-2-4 col-md-6 col-6 mb-3">
                    <div class="d-flex justify-content-center">
                        <img class="w-50" src="/img/logo_about_1.svg" alt="">
                    </div>
                </div>
                <div class="col-2-4 col-md-6 col-6 mb-3">
                    <div class="d-flex justify-content-center">
                        <img class="w-50" src="/img/logo_about_2.svg" alt="">
                    </div>
                </div>
                <div class="col-2-4 col-md-6 col-6 mb-3">
                    <div class="d-flex justify-content-center">
                        <img class="w-50" src="/img/logo_about_3.png" alt="">
                    </div>
                </div>
                <div class="col-2-4 col-md-6 col-6 mb-3">
                    <div class="d-flex justify-content-center">
                        <img class="w-50" src="/img/logo_about_4.png" alt="">
                    </div>
                </div>
                <div class="col-2-4 col-md-6 col-6 mb-3">
                    <div class="d-flex justify-content-center">
                        <img class="w-50" src="/img/logo_about_5.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="populated pt-5 mb-5">
    <div class="container-xl">
        <div class="populated__content">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="populated__items--desc align-self-center">
                        <h1 class="font--primary populated--title">Our Mission</h1>
                        <p class="mt-4 mb-4 lh-1-8 color--light--no-hover">Complexion-perfecting natural foundation enriched with antioxidant-packed superfruits, vitamins, and other skin-nourishing nutrients. Creamy liquid formula sets with a pristine matte finish for soft, velvety smooth skin. Made using clean, non-toxic ingredients, our products are designed for everyone…</p>
                        <p class="color--light--no-hover">Looking for love in all the wrong places? Start with something pure, something good for you, and something that makes you feel pampered like a princess. We’re talking about clean beauty gift sets, of course – and we’ve got a bouquet of beauties for yourself or someone you love!</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="populated__img">
                        <img class="w-100 h-100" src="img/img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="populated pt-5 pb-3">
    <div class="w-100 m-auto">
        <h1 class="text-center font--primary mb-4 populated--title">We Pride Ourselves On Have A Team Of Highly Skilled</h1>
        <p class="text-center fs-6 lh-lg pb-5 color--light--no-hover">Preorder now to receive exclusive deals & gifts</p>
    </div>
    <div class="populated--container container-xl">
        <ul class="member--list row p-0">
            <li class="member--items col-lg-4 col-md-4 mb-3">
                <div class="member">
                    <div class="position-relative overflow-hidden">
                        <img class="w-100 h-100" src="/img/member_1.jpg" alt="">
                    </div>
                    <div class="member--content pt-4">
                        <p class="member--desc color--light--no-hover mb-2">Founder, Chief Creative</p>
                        <p class="font--primary fs-4">John Doe</p>
                    </div>
                </div>
            </li>
            <li class="member--items col-lg-4 col-md-4 mb-3">
                <div class="member">
                    <div class="position-relative overflow-hidden">
                        <img class="w-100 h-100" src="/img/member_2.jpg" alt="">
                    </div>
                    <div class="member--content pt-4">
                        <p class="member--desc color--light--no-hover mb-2">Founder, COO</p>
                        <p class="font--primary fs-4">Valeriia Nadopta</p>
                    </div>
                </div>
            </li>
            <li class="member--items col-lg-4 col-md-4 mb-3">
                <div class="member">
                    <div class="position-relative overflow-hidden">
                        <img class="w-100 h-100" src="/img/member_3.png" alt="">
                    </div>
                    <div class="member--content pt-4">
                        <p class="member--desc color--light--no-hover mb-2">Founder, CEO</p>
                        <p class="font--primary fs-4">Jennifer C</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>