<div class="d-block text-center page-header">
    <h1 style="font-size: 55px;" class="font--primary text-white">Contacts</h1>
    <div class="router--detail color--white--no-hover pb-4 text-center pt-4">
        <a href="/" class="color--white text-decoration-none">Home </a>/
        <span class="text-capitalize">Contacts</span>
    </div>
</div>
<div class="container mt-5">
    <div class="map mb-5">
        <iframe style="filter: grayscale(100%);" class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30723.943067897144!2d108.33549466156863!3d15.72504413394084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31420a0b4fab3b45%3A0x76287c3eea40de07!2zdHQuIEjDoCBMYW0sIFRoxINuZyBCw6xuaCwgUXXhuqNuZyBOYW0sIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1686055437401!5m2!1svi!2s" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="find-us">
                <h1 class="font--primary mb-4">How To Find Us</h1>
                <p class="color--light--no-hover">Get in touch to discuss your employee wellbeing needs today. Please give us a call, drop us an email or fill out the contact form and we’ll get back to you.</p>
                <p>+80 123 567 89</p>
                <p>283 N. Glenwood Street, Levittown, NY</p>
                <a href="mailto:help.lenos@gmail.com" class=" color--primary">help.lenos@gmail.com</a>
                <div class="d-flex social mt-4">
                    <div class="me-3">
                        <a class="rounded-circle d-flex justify-content-center align-items-center text-decoration-none text-dark" href="">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class="me-3">
                        <a class=" rounded-circle d-flex justify-content-center align-items-center text-decoration-none text-dark" href="">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </div>
                    <div class="me-3">
                        <a class=" rounded-circle d-flex justify-content-center align-items-center text-decoration-none text-dark" href="">
                            <i class="fa-brands fa-pinterest-p"></i>
                        </a>
                    </div>
                    <div class="me-3">
                        <a class=" rounded-circle d-flex justify-content-center align-items-center text-decoration-none text-dark" href="">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="contact-us">
                <h1 class="font--primary mb-4">Contact Us</h1>
                <p class="color--light--no-hover">Your email address will not be published. Required fields are marked *</p>
                <div class="input--group row ">
                    <div class="col-6">
                        <input class="w-100" type="text" name="" id="" placeholder="Your name">
                    </div>
                    <div class="col-6">
                        <input class="w-100" type="email" name="" id="" placeholder="Your email">
                    </div>
                </div>
                <div class="input--group mt-4">
                    <input type="text" name="" id="" class="w-100" placeholder="Your website">
                </div>
                <div class="input--group mt-4">
                    <textarea type="text" name="" id="" class="w-100" placeholder="Message..."></textarea>
                </div>
                    <button style="padding: 12px" type="submit" class="btn--primary btn--light text-white text-uppercase border-0 pe-5 ps-5 mt-4">get in touch</button>
            </div>
        </div>
    </div>
</div>