<div class="d-block text-center page-header shop">
    <h1 style="font-size: 55px;" class="font--primary text-white">Shop</h1>
    <div class="router--detail color--white--no-hover pb-4 text-center pt-4">
        <a href="/" class="color--white text-decoration-none">Home </a>/
        <span class="text-capitalize">Shop</span>
    </div>
</div>
<div class="pt-4">
    <div class="container mt-5">
        <div class="row">
            <div class="col-3">
                <div class="sidebar">
                    <div class="sidebar__items mb-5">
                        <h4 class="font--primary mb-5">Categories</h4>
                        <ul class="mt-4 p-0">
                            <li class="d-flex color--light--no-hover mb-3">
                                <a class="text-dark text--dark-hover text-decoration-none flex-grow-1" href="">Bering</a>
                                <span>(1)</span>
                            </li>
                            <li class="d-flex color--light--no-hover mb-3">
                                <a class="text-dark text--dark-hover text-decoration-none flex-grow-1" href="">Cocomi</a>
                                <span>(1)</span>
                            </li>
                            <li class="d-flex color--light--no-hover mb-3">
                                <a class="text-dark text--dark-hover text-decoration-none flex-grow-1" href="">Nixon</a>
                                <span>(1)</span>
                            </li>
                            <li class="d-flex color--light--no-hover mb-3">
                                <a class="text-dark text--dark-hover text-decoration-none flex-grow-1" href="">Olivia burton</a>
                                <span>(1)</span>
                            </li>
                            <li class="d-flex color--light--no-hover mb-3">
                                <a class="text-dark text--dark-hover text-decoration-none flex-grow-1" href="">Timberland</a>
                                <span>(1)</span>
                            </li>
                            <li class="d-flex color--light--no-hover mb-3">
                                <a class="text-dark text--dark-hover text-decoration-none flex-grow-1" href="">Timex</a>
                                <span>(1)</span>
                            </li>
                            <li class="d-flex color--light--no-hover mb-3">
                                <a class="text-dark text--dark-hover text-decoration-none flex-grow-1" href="">Uncategorized</a>
                                <span>(0)</span>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar__items">
                        <h4 class="font--primary mb-5">Product tags</h4>
                        <ul class="mt-4 p-0 d-flex flex-wrap">
                            <li class="me-2"> 
                                <a href="#" class="bg--white--hover border--primary text-decoration-none color--light pt-2 pb-2 pe-3 ps-3 lh-1 d-inline-block">Life Style</a>
                            </li>
                            <li class="me-2">
                                <a href="#" class="bg--white--hover border--primary text-decoration-none color--light pt-2 pb-2 pe-3 ps-3 lh-1 d-inline-block">Trend</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="shop">
                    <div class="d-flex justify-content-between mb-4 align-items-center">
                        <p class="color--light--no-hover mb-0">There are <span class="text-dark">14 products</span> available</p>
                        <div class="d-flex align-items-center">
                            <div class="me-5 color--light--no-hover">
                                <span class="text-dark me-2">Show</span>
                                <span class="text-dark me-2">12</span>
                                <span class="me-2">24</span>
                                <span>All</span>
                            </div>
                            <div class="border--primary position-relative">
                                <select style="outline: none; padding: 40px; padding-left: 30px" name="" id="" class="w-100 border-0 pt-2 pb-2">
                                    <option value="">Sort By Default sorting</option>
                                    <option value="">Sort By Default sorting</option>
                                    <option value="">Sort By Default sorting</option>
                                    <option value="">Sort By Default sorting</option>
                                </select>
                                <i class="fa-solid fa-caret-down position-absolute top-50 translate-middle-y end-0 pe-3"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="product">
                                <a class="" href="#">
                                    <div class="position-relative overflow-hidden">
                                        <img class="w-100 h-100" src="/img/product-1.jpg" alt="">
                                        <button class="position-absolute start-50 bottom-0 mb-4 pt-3 pb-3 btn--primary text-uppercase border-0">add to cart</button>
                                        <ul class="product-action position-absolute top-0 pt-3 end-0 pe-3">
                                            <li class="bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-regular fa-heart"></i>
                                                </a>
                                            </li>
                                            <li class="nth-2 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark rotate-90" href="#">
                                                    <i class="fa-solid fa-arrow-right-arrow-left "></i>

                                                </a>
                                            </li>
                                            <li class="nth-3 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                                            <p class="label label--discount text-uppercase">-51%</p>
                                            <p class="label label--hot text-uppercase">hot</p>
                                        </ul>
                                    </div>
                                </a>
                                <div class="product--content pt-4">
                                    <h6 class="product--name text-uppercase text-center">cocomi</h6>
                                    <a href="#" class="product--desc text-uppercase text-center">TIMEX EASY READER WHITE</a>
                                    <p class="text-center">
                                        <span class="pe-1 fs-5 fw-bold">$225</span>
                                        <span><del>$460</del></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="product">
                                <a class="" href="#">
                                    <div class="position-relative overflow-hidden">
                                        <img class="w-100 h-100" src="/img/product-1.jpg" alt="">
                                        <button class="position-absolute start-50 bottom-0 mb-4 pt-3 pb-3 btn--primary text-uppercase border-0">add to cart</button>
                                        <ul class="product-action position-absolute top-0 pt-3 end-0 pe-3">
                                            <li class="bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-regular fa-heart"></i>
                                                </a>
                                            </li>
                                            <li class="nth-2 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark rotate-90" href="#">
                                                    <i class="fa-solid fa-arrow-right-arrow-left "></i>

                                                </a>
                                            </li>
                                            <li class="nth-3 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                                            <p class="label label--discount text-uppercase">-51%</p>
                                            <p class="label label--hot text-uppercase">hot</p>
                                        </ul>
                                    </div>
                                </a>
                                <div class="product--content pt-4">
                                    <h6 class="product--name text-uppercase text-center">cocomi</h6>
                                    <a href="#" class="product--desc text-uppercase text-center">TIMEX EASY READER WHITE</a>
                                    <p class="text-center">
                                        <span class="pe-1 fs-5 fw-bold">$225</span>
                                        <span><del>$460</del></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="product">
                                <a class="" href="#">
                                    <div class="position-relative overflow-hidden">
                                        <img class="w-100 h-100" src="/img/product-1.jpg" alt="">
                                        <button class="position-absolute start-50 bottom-0 mb-4 pt-3 pb-3 btn--primary text-uppercase border-0">add to cart</button>
                                        <ul class="product-action position-absolute top-0 pt-3 end-0 pe-3">
                                            <li class="bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-regular fa-heart"></i>
                                                </a>
                                            </li>
                                            <li class="nth-2 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark rotate-90" href="#">
                                                    <i class="fa-solid fa-arrow-right-arrow-left "></i>

                                                </a>
                                            </li>
                                            <li class="nth-3 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                                            <p class="label label--discount text-uppercase">-51%</p>
                                            <p class="label label--hot text-uppercase">hot</p>
                                        </ul>
                                    </div>
                                </a>
                                <div class="product--content pt-4">
                                    <h6 class="product--name text-uppercase text-center">cocomi</h6>
                                    <a href="#" class="product--desc text-uppercase text-center">TIMEX EASY READER WHITE</a>
                                    <p class="text-center">
                                        <span class="pe-1 fs-5 fw-bold">$225</span>
                                        <span><del>$460</del></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="product">
                                <a class="" href="#">
                                    <div class="position-relative overflow-hidden">
                                        <img class="w-100 h-100" src="/img/product-1.jpg" alt="">
                                        <button class="position-absolute start-50 bottom-0 mb-4 pt-3 pb-3 btn--primary text-uppercase border-0">add to cart</button>
                                        <ul class="product-action position-absolute top-0 pt-3 end-0 pe-3">
                                            <li class="bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-regular fa-heart"></i>
                                                </a>
                                            </li>
                                            <li class="nth-2 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark rotate-90" href="#">
                                                    <i class="fa-solid fa-arrow-right-arrow-left "></i>

                                                </a>
                                            </li>
                                            <li class="nth-3 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                                            <p class="label label--discount text-uppercase">-51%</p>
                                            <p class="label label--hot text-uppercase">hot</p>
                                        </ul>
                                    </div>
                                </a>
                                <div class="product--content pt-4">
                                    <h6 class="product--name text-uppercase text-center">cocomi</h6>
                                    <a href="#" class="product--desc text-uppercase text-center">TIMEX EASY READER WHITE</a>
                                    <p class="text-center">
                                        <span class="pe-1 fs-5 fw-bold">$225</span>
                                        <span><del>$460</del></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="product">
                                <a class="" href="#">
                                    <div class="position-relative overflow-hidden">
                                        <img class="w-100 h-100" src="/img/product-1.jpg" alt="">
                                        <button class="position-absolute start-50 bottom-0 mb-4 pt-3 pb-3 btn--primary text-uppercase border-0">add to cart</button>
                                        <ul class="product-action position-absolute top-0 pt-3 end-0 pe-3">
                                            <li class="bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-regular fa-heart"></i>
                                                </a>
                                            </li>
                                            <li class="nth-2 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark rotate-90" href="#">
                                                    <i class="fa-solid fa-arrow-right-arrow-left "></i>

                                                </a>
                                            </li>
                                            <li class="nth-3 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                                            <p class="label label--discount text-uppercase">-51%</p>
                                            <p class="label label--hot text-uppercase">hot</p>
                                        </ul>
                                    </div>
                                </a>
                                <div class="product--content pt-4">
                                    <h6 class="product--name text-uppercase text-center">cocomi</h6>
                                    <a href="#" class="product--desc text-uppercase text-center">TIMEX EASY READER WHITE</a>
                                    <p class="text-center">
                                        <span class="pe-1 fs-5 fw-bold">$225</span>
                                        <span><del>$460</del></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="product">
                                <a class="" href="#">
                                    <div class="position-relative overflow-hidden">
                                        <img class="w-100 h-100" src="/img/product-1.jpg" alt="">
                                        <button class="position-absolute start-50 bottom-0 mb-4 pt-3 pb-3 btn--primary text-uppercase border-0">add to cart</button>
                                        <ul class="product-action position-absolute top-0 pt-3 end-0 pe-3">
                                            <li class="bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-regular fa-heart"></i>
                                                </a>
                                            </li>
                                            <li class="nth-2 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark rotate-90" href="#">
                                                    <i class="fa-solid fa-arrow-right-arrow-left "></i>

                                                </a>
                                            </li>
                                            <li class="nth-3 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                                            <p class="label label--discount text-uppercase">-51%</p>
                                            <p class="label label--hot text-uppercase">hot</p>
                                        </ul>
                                    </div>
                                </a>
                                <div class="product--content pt-4">
                                    <h6 class="product--name text-uppercase text-center">cocomi</h6>
                                    <a href="#" class="product--desc text-uppercase text-center">TIMEX EASY READER WHITE</a>
                                    <p class="text-center">
                                        <span class="pe-1 fs-5 fw-bold">$225</span>
                                        <span><del>$460</del></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="product">
                                <a class="" href="#">
                                    <div class="position-relative overflow-hidden">
                                        <img class="w-100 h-100" src="/img/product-1.jpg" alt="">
                                        <button class="position-absolute start-50 bottom-0 mb-4 pt-3 pb-3 btn--primary text-uppercase border-0">add to cart</button>
                                        <ul class="product-action position-absolute top-0 pt-3 end-0 pe-3">
                                            <li class="bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-regular fa-heart"></i>
                                                </a>
                                            </li>
                                            <li class="nth-2 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark rotate-90" href="#">
                                                    <i class="fa-solid fa-arrow-right-arrow-left "></i>

                                                </a>
                                            </li>
                                            <li class="nth-3 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                                            <p class="label label--discount text-uppercase">-51%</p>
                                            <p class="label label--hot text-uppercase">hot</p>
                                        </ul>
                                    </div>
                                </a>
                                <div class="product--content pt-4">
                                    <h6 class="product--name text-uppercase text-center">cocomi</h6>
                                    <a href="#" class="product--desc text-uppercase text-center">TIMEX EASY READER WHITE</a>
                                    <p class="text-center">
                                        <span class="pe-1 fs-5 fw-bold">$225</span>
                                        <span><del>$460</del></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="product">
                                <a class="" href="#">
                                    <div class="position-relative overflow-hidden">
                                        <img class="w-100 h-100" src="/img/product-1.jpg" alt="">
                                        <button class="position-absolute start-50 bottom-0 mb-4 pt-3 pb-3 btn--primary text-uppercase border-0">add to cart</button>
                                        <ul class="product-action position-absolute top-0 pt-3 end-0 pe-3">
                                            <li class="bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-regular fa-heart"></i>
                                                </a>
                                            </li>
                                            <li class="nth-2 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark rotate-90" href="#">
                                                    <i class="fa-solid fa-arrow-right-arrow-left "></i>

                                                </a>
                                            </li>
                                            <li class="nth-3 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                                            <p class="label label--discount text-uppercase">-51%</p>
                                            <p class="label label--hot text-uppercase">hot</p>
                                        </ul>
                                    </div>
                                </a>
                                <div class="product--content pt-4">
                                    <h6 class="product--name text-uppercase text-center">cocomi</h6>
                                    <a href="#" class="product--desc text-uppercase text-center">TIMEX EASY READER WHITE</a>
                                    <p class="text-center">
                                        <span class="pe-1 fs-5 fw-bold">$225</span>
                                        <span><del>$460</del></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="product">
                                <a class="" href="#">
                                    <div class="position-relative overflow-hidden">
                                        <img class="w-100 h-100" src="/img/product-1.jpg" alt="">
                                        <button class="position-absolute start-50 bottom-0 mb-4 pt-3 pb-3 btn--primary text-uppercase border-0">add to cart</button>
                                        <ul class="product-action position-absolute top-0 pt-3 end-0 pe-3">
                                            <li class="bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-regular fa-heart"></i>
                                                </a>
                                            </li>
                                            <li class="nth-2 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark rotate-90" href="#">
                                                    <i class="fa-solid fa-arrow-right-arrow-left "></i>

                                                </a>
                                            </li>
                                            <li class="nth-3 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                                            <p class="label label--discount text-uppercase">-51%</p>
                                            <p class="label label--hot text-uppercase">hot</p>
                                        </ul>
                                    </div>
                                </a>
                                <div class="product--content pt-4">
                                    <h6 class="product--name text-uppercase text-center">cocomi</h6>
                                    <a href="#" class="product--desc text-uppercase text-center">TIMEX EASY READER WHITE</a>
                                    <p class="text-center">
                                        <span class="pe-1 fs-5 fw-bold">$225</span>
                                        <span><del>$460</del></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="product">
                                <a class="" href="#">
                                    <div class="position-relative overflow-hidden">
                                        <img class="w-100 h-100" src="/img/product-1.jpg" alt="">
                                        <button class="position-absolute start-50 bottom-0 mb-4 pt-3 pb-3 btn--primary text-uppercase border-0">add to cart</button>
                                        <ul class="product-action position-absolute top-0 pt-3 end-0 pe-3">
                                            <li class="bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-regular fa-heart"></i>
                                                </a>
                                            </li>
                                            <li class="nth-2 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark rotate-90" href="#">
                                                    <i class="fa-solid fa-arrow-right-arrow-left "></i>

                                                </a>
                                            </li>
                                            <li class="nth-3 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                                            <p class="label label--discount text-uppercase">-51%</p>
                                            <p class="label label--hot text-uppercase">hot</p>
                                        </ul>
                                    </div>
                                </a>
                                <div class="product--content pt-4">
                                    <h6 class="product--name text-uppercase text-center">cocomi</h6>
                                    <a href="#" class="product--desc text-uppercase text-center">TIMEX EASY READER WHITE</a>
                                    <p class="text-center">
                                        <span class="pe-1 fs-5 fw-bold">$225</span>
                                        <span><del>$460</del></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="product">
                                <a class="" href="#">
                                    <div class="position-relative overflow-hidden">
                                        <img class="w-100 h-100" src="/img/product-1.jpg" alt="">
                                        <button class="position-absolute start-50 bottom-0 mb-4 pt-3 pb-3 btn--primary text-uppercase border-0">add to cart</button>
                                        <ul class="product-action position-absolute top-0 pt-3 end-0 pe-3">
                                            <li class="bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-regular fa-heart"></i>
                                                </a>
                                            </li>
                                            <li class="nth-2 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark rotate-90" href="#">
                                                    <i class="fa-solid fa-arrow-right-arrow-left "></i>

                                                </a>
                                            </li>
                                            <li class="nth-3 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                                            <p class="label label--discount text-uppercase">-51%</p>
                                            <p class="label label--hot text-uppercase">hot</p>
                                        </ul>
                                    </div>
                                </a>
                                <div class="product--content pt-4">
                                    <h6 class="product--name text-uppercase text-center">cocomi</h6>
                                    <a href="#" class="product--desc text-uppercase text-center">TIMEX EASY READER WHITE</a>
                                    <p class="text-center">
                                        <span class="pe-1 fs-5 fw-bold">$225</span>
                                        <span><del>$460</del></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="product">
                                <a class="" href="#">
                                    <div class="position-relative overflow-hidden">
                                        <img class="w-100 h-100" src="/img/product-1.jpg" alt="">
                                        <button class="position-absolute start-50 bottom-0 mb-4 pt-3 pb-3 btn--primary text-uppercase border-0">add to cart</button>
                                        <ul class="product-action position-absolute top-0 pt-3 end-0 pe-3">
                                            <li class="bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-regular fa-heart"></i>
                                                </a>
                                            </li>
                                            <li class="nth-2 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark rotate-90" href="#">
                                                    <i class="fa-solid fa-arrow-right-arrow-left "></i>

                                                </a>
                                            </li>
                                            <li class="nth-3 bg-white mb-3 rounded-circle d-flex justify-content-center align-items-center">
                                                <a class="text-dark" href="#">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="product-label position-absolute top-0 pt-3 start-0 ps-3">
                                            <p class="label label--discount text-uppercase">-51%</p>
                                            <p class="label label--hot text-uppercase">hot</p>
                                        </ul>
                                    </div>
                                </a>
                                <div class="product--content pt-4">
                                    <h6 class="product--name text-uppercase text-center">cocomi</h6>
                                    <a href="#" class="product--desc text-uppercase text-center">TIMEX EASY READER WHITE</a>
                                    <p class="text-center">
                                        <span class="pe-1 fs-5 fw-bold">$225</span>
                                        <span><del>$460</del></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination mt-4 mb-5 d-flex justify-content-center ">
                        <a href="#" style="height: 40px; width: 40px;" class=" d-flex justify-content-center align-items-center bg--white--hover border--primary text-decoration-none color--light lh-1 d-inline-block me-2"><i class="fa-solid fa-arrow-left-long fs-13"></i></a>
                        <a href="#" style="height: 40px; width: 40px;" class="active d-flex justify-content-center align-items-center bg--white--hover border--primary text-decoration-none color--light lh-1 d-inline-block me-2">1</a>
                        <a href="#" style="height: 40px; width: 40px;" class=" d-flex justify-content-center align-items-center bg--white--hover border--primary text-decoration-none color--light lh-1 d-inline-block me-2">2</a>
                        <a href="#" style="height: 40px; width: 40px;" class=" d-flex justify-content-center align-items-center bg--white--hover border--primary text-decoration-none color--light lh-1 d-inline-block me-2"><i class="fa-solid fa-arrow-right-long fs-13 "></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
</div>