<div class="d-block text-center page-header">
    <h1 style="font-size: 55px;" class="font--primary text-white">Wishlist</h1>
    <div class="router--detail color--white--no-hover pb-4 text-center pt-4">
        <a href="/" class="color--white text-decoration-none">Home </a>/
        <span class="text-capitalize">Wishlist</span>
    </div>
</div>
<div class="container mt-5 pb-5">
    <div class="pt-4">
        <p class="color--light--no-hover mb-4 d-none">There are no products on the wishlist!</p>
        <ul class="p-0 border--primary wishlist__list mb-4">
            <li class="wishlist__items">   
                <div class="wishlist">
                    <div class="row">
                        <div class="col-8">
                            <div class="wishlist__product d-flex align-items-center border-right-primary pt-3 pb-3">
                                <div class="wishlist__product--clear ps-3 pe-3">
                                    <i class="fa-solid fa-xmark"></i>
                                </div>
                                <div class="wishlist__product--img me-3">
                                    <a href="#">
                                        <img width="80px" height="80px" src="/img/product-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="wishlist__product--content">
                                    <a href="#" class="text--dark-hover text-dark text-decoration-none mb-1 d-inline-block">Terrazzo Florals Grey (Ob16Tz01)</a>
                                    <p class="color--light--no-hover mb-1">$550</p>
                                    <p class="color--light--no-hover mb-1">June 6, 2023</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="ps-3 d-flex justify-content-center flex-column h-100">
                                <p class="color--light--no-hover mb-2">In Stock</p>
                                <a href="#" class="text--dark-hover text-dark text-decoration-none text-uppercase">add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="wishlist__items">   
                <div class="wishlist">
                    <div class="row">
                        <div class="col-8">
                            <div class="wishlist__product d-flex align-items-center border-right-primary pt-3 pb-3">
                                <div class="wishlist__product--clear ps-3 pe-3">
                                    <i class="fa-solid fa-xmark"></i>
                                </div>
                                <div class="wishlist__product--img me-3">
                                    <a href="#">
                                        <img width="80px" height="80px" src="/img/product-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="wishlist__product--content">
                                    <a href="#" class="text--dark-hover text-dark text-decoration-none mb-1 d-inline-block">Terrazzo Florals Grey (Ob16Tz01)</a>
                                    <p class="color--light--no-hover mb-1">$550</p>
                                    <p class="color--light--no-hover mb-1">June 6, 2023</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="ps-3 d-flex justify-content-center flex-column h-100">
                                <p class="color--light--no-hover mb-2">In Stock</p>
                                <a href="#" class="text--dark-hover text-dark text-decoration-none text-uppercase">add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="link d-flex align-items-center">
            <span class=" d-inline-block me-3">Wishlist link: </span>
            <div style="width: 630px; height: 50px" class="d-flex overflow-hidden">
                <div class="border--primary w-75 d-flex align-items-center pe-4 ps-4">
                    <span class="d-flex algin-items-center lh-1" >http://localhost:3000/wishlist</span>
                </div>
                <button type="submit" class=" flex-grow-1 btn--primary btn--light text-white text-uppercase border-0 pt-2 pb-2">copy</button>
            </div>
        </div>
    </div>
</div>